input:focus, textarea:focus, select:focus{
    outline: none;
}

.rootMain {
    background-image: url(https://images.unsplash.com/photo-1606625736768-f521ab7e23fb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jeswin-thomas-PtfRiBumfQU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}